arbitrum1.node.yearn.tools, :80 {
 basicauth {
  {$BASICAUTH_USERNAME} {$BASICAUTH_HASHED_PASSWORD}
 }

 tls {
  dns route53 {
    max_retries 10
  }
 }

 reverse_proxy arbitrum:8547 {
   header_up X-Scheme https
   header_down Access-Control-Allow-Headers "origin, content-type, accept"
 }
}